body {
    font-family: "Roboto", sans-serif; 
    color: black; 
    background-color: var(--white);
}

ul, ol {
	list-style-type: none;
}

a {
    text-decoration: none;
    font-style: normal
}

button {
    border: none;

}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-link {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.address {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455; 
}

.hero {
    background:#2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: white;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.facilities-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.facilities-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team-section {
    background: #F4F4FD;
}

.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
} 

.portfolio-items-title{
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2E2F42; 
}

.cards-content {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.logo-footer-span{
    color: #F4F4FD;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:  #F4F4FD;
}

.footer-style {
    background: #2E2F42;
}